<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>MYSQLD_PARENT_PID</key>
		<string>1</string>
	</dict>
	<key>ExitTimeOut</key>
	<integer>600</integer>
	<key>GroupName</key>
	<string>_mysql</string>
	<key>KeepAlive</key>
	<dict>
		<key>AfterInitialDemand</key>
		<true/>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>Label</key>
	<string>com.oracle.oss.mysql.mysqld</string>
	<key>LaunchOnlyOnce</key>
	<false/>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>Program</key>
	<string>/usr/local/mysql/bin/mysqld</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/mysql/bin/mysqld</string>
		<string>--user=_mysql</string>
		<string>--basedir=/usr/local/mysql</string>
		<string>--datadir=/usr/local/mysql/data</string>
		<string>--plugin-dir=/usr/local/mysql/lib/plugin</string>
		<string>--log-error=/usr/local/mysql/data/mysqld.local.err</string>
		<string>--pid-file=/usr/local/mysql/data/mysqld.local.pid</string>
		<string>--keyring-file-data=/usr/local/mysql/keyring/keyring</string>
		<string>--early-plugin-load=keyring_file=keyring_file.so</string>
		<string>--default_authentication_plugin=mysql_native_password</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>SessionCreate</key>
	<true/>
	<key>UserName</key>
	<string>_mysql</string>
	<key>WorkingDirectory</key>
	<string>/usr/local/mysql</string>
</dict>
</plist>
